@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

.html,
body {
    /* margin: 0; */
    font-family: "Quicksand";
    justify-content: center;
    color: #fefae0;
    background-color: #14213d;
    position: relative;
}


/* * {
    font-family: "Quicksand";
    justify-content: center;
    color: #fefae0;
    background-color: #14213d;
} */

.content {
    /* max-width: 70%; */
    display: flex;
    padding: 50px;
    margin: 0 auto;
}