.skill-card-grid {
    display: flex;
    /* margin: auto;
    max-width: 100%; */
    padding: 10px;
    margin: 0 auto;
    /* margin-top: 7%; */
    width: 80%;
    background-color: #223766;
    border-radius: 4px;
    flex-wrap: wrap;
    border: 1px solid black;
    align-self: center;
    /* text-align: center; */
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
}

.skill-card {
    color: #fefae0;
    background-color: #14213d;
    /* width: 80%; */
    min-width: 200px;
    margin: 2% 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    /* padding-right: 10px; */
    /* flex-wrap: wrap; */
    padding-bottom: 2%;
    min-inline-size: 180px;
    border-radius: 6px;
    /* border: 1px solid #fafafa; */
    overflow: auto;
    /* box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); */
}

.skill-card:hover {
    /* height: 10%; */
    /* margin-bottom: 1px; */
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

.skill-card-title {
    padding-bottom: 10px;
    text-align: center;
}

.skill-card h1 {
    font-size: 20px;
    color: #dda15e;
    margin-bottom: 8px;
}

.skill-card .skill-card-description {
    padding-bottom: 10px;
    display: flex;
    /* text-align: center; */
    /* border-bottom: 1px solid #fafafa; */
    /* width: 80%; */
}

.skill-card .skill-card-title-separator {
    /* display: flex;
    align-self: center;
    align-content: center;
    text-align: center;
    align-items: justify; */
    border-bottom: 1px solid #fafafa;
    width: 100%;
}

.skill-card-children {
    /* padding-top: 20px; */
    padding-left: 5%;
}

.skill-card-children-text {
    padding-top: 5px;
}

.skill-card-children-preview b {
    font-size: 15px;
}